body{
    font-family: 'Poppins', sans-serif;
margin: 0;
}

.add-color{
    color: rgba(255, 153, 0, 0.966);
}
.flexible-container {
    display: flex;
    margin-bottom: 100px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 10px;
    border-radius: 80px;
}
p{
    text-align: justify;
    padding-right: 5%;
}
h1{
    font-size: 55px;
    color: rgb(66, 67, 67);
    padding-top: 10%;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
/* .flexible-container {
    display: flex;
    margin-bottom: 150px;
} */
#myself{
    text-align: center;
    padding-right: 5%;
}
#self-image{
    width: 50%;
    padding-top: 5%;
    margin-bottom: 0%;
}
.about-me {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.recipe{
    text-align: center;
}
.lorem{
    text-align: center;
}
.recipie-title{
    width: 60%;
    margin-left: 5%;
    margin-top: auto;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}
.image img{
    width: 90%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 5%;
}
h2{
    text-align: center;
}
.last-one {
    width: 60%;
    margin-left: 15%;
    margin-right: 80%;
    padding-left: 100px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
    text-align: center;
    justify-content: space-between;
    padding-right: 70px;
    padding-bottom: 5%;
}

footer{
    background-color: rgb(18, 18, 18);
    margin-bottom: 0;
    padding: 60px;
}
.foot{
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
    font-size: 40px;
}
.peramoy{
    text-align: center;
    color: white;
}